version: 1.0.{build}

image: Visual Studio 2017

init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true

services:
  - mssql2014

artifacts:
  - path: bin\SmogFightClub.zip
    name: SmogFightClub

  - file: .\src\SFC.Tests\bin\Debug\netcoreapp2.2\SFC\SFC.TestsReport.html
    name: Test report
    type: html

before_build:
  - git submodule update --init --recursive

build_script:
  - ps: .\scripts\build.ps1

after_build:
  - 7z a %APPVEYOR_BUILD_FOLDER%\bin\SmogFightClub.zip %APPVEYOR_BUILD_FOLDER%\src\SFC\bin\Debug\netcoreapp2.2\*

test_script:
  - ps: .\scripts\test.ps1
  - ps: Push-AppveyorArtifact .\src\SFC.Tests\bin\Debug\netcoreapp2.2\SFC\SFC.TestsReport.html -FileName "Test report" 

